<h1>Hi, {{ title() }}</h1>


<button (click)="btnClicked($event)">Create DETJOBM4 as JSON</button>

<ul >
  <li *ngFor="let Dev of Devs"
      (click)="loadMachinesByDev(Dev)" >
    {{ Dev }} 
  </li>
</ul>

<label for="cars">Choose a machine:</label>
<select id="cars" name="cars">
  <option *ngFor = "let selmachine of selmachines" 
  [value]="selmachine.MACHINE_ID">{{selmachine.MACHINE_DESC}}</option>
  <!-- <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option> -->
</select>




<div class="lab-monitor">



  <div class="lab-map" (click)="mapClicked($event)">
 
    <!-- [matTooltip]="machine.MACHINE_ID" -->

    <div class="lab-machine"

                                [ngClass]="{'selected': machine.selected}"
                                *ngFor="let machine of machines"
                                [style.top.px]="machine.initialPosition.y"
                                [style.left.px]="machine.initialPosition.x"
                               
                                                         

                                cdkDragBoundary=".example-boundary"
                                (cdkDragEnded)="dragEnd($event, machine)"
                                cdkDrag>
                                <div class="ring"></div>
                                <div class="machine-image" (click)="selectMachine(machine, $event)">
                                  <img class="lab-machine-image" [src]="machine.machineImageUrl" >
                                </div>
                              </div>

  </div>
</div>


<router-outlet />